@model HandballResults.Models.TeamsViewModel

@{
    ViewBag.Title = "Tabelle";
}

<div class="container schedule">
    <div class="loading-indicator"></div>
</div>

<div class="container standings">
    <div class="loading-indicator"></div>
</div>

<div class="container results">
    <div class="loading-indicator"></div>
</div>


@section scripts
{
    <script type="text/javascript">
    $(document).ready(function () {
        $(".schedule").load('@(Url.Action("Schedule", "Games", null, Request.Url.Scheme))');
        $(".standings").load('@(Url.Action("Team", "Group", null, Request.Url.Scheme))');
        $(".results").load('@(Url.Action("Results", "Games", null, Request.Url.Scheme))');
        });
    </script>
}
