@model HandballResults.Models.TeamsViewModel

@{
    ViewBag.Title = "Resultate & Spiele";
}

<div id="schedule" class="shv-container" data-attr-team-id="@Model.TeamId">
    <div class="loading-indicator"></div>
</div>

<div id="standings" class="shv-container" data-attr-team-id="@Model.TeamId">
    <div class="loading-indicator"></div>
</div>

<div id="results" class="shv-container" data-attr-team-id="@Model.TeamId">
    <div class="loading-indicator"></div>

</div>

<script src="~/dist/team.entry.js" defer></script>