table td {
    padding: 5px;
}

table thead {
    background-color: rgba(36, 95, 163, 1); /*#333*/;
    color: white;
}

table tbody tr:hover {
    background-color: rgba(63, 68, 74, 0.1) /*lightgray;*/
}