body {
    font-family: Roboto Condensed;
    font-weight: 300;
    font-style: normal;
    text-transform: none;
    font-size: 16px;
    line-height: 1.1em;
}
table td {
    padding: 5px;
}

table thead {
    background-color: rgba(36, 95, 163, 1); /*#333*/;
    color: white;
}

table tbody tr:hover {
    background-color: rgba(63, 68, 74, 0.1) /*lightgray;*/
}

.loading-indicator {
    background-image: url(Images/ajax-loader.gif);
    width: 30px;
    height: 30px;
}

.container {
    margin-bottom: 5px;
}