@model dynamic

@{
    Layout = "_Layout";
}

<h2>HCDU Resultate</h2>


<ul>
    <li><a href="/games/schedule">Spielplan</a></li>
    <li><a href="/games/results">Resultate</a></li>
    <li><a href="/groups/37223">Tabelle</a></li>
    <li><a href="/teams/37223">Team</a></li>
</ul>
